
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100wh;
  height: 100vh;
  background-color: #2c2c2c;
  padding-top: 20px;
  
} 

.wrapper {
  width: 100%;
  height: 100%;
  padding: 10px;
}

h1 {
  color: rgb(14, 165, 165);
  font-weight: bold;
  font-size: 78px;
  letter-spacing: 10px;
  text-align: center;

}

p {
  max-width: 600px;
  line-height: 1.3;
  text-align: center;
  color: rgb(116, 136, 136);
  margin: 10px auto;
}

.sm-screens {
  display: none;
}


.proverb-card {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
            1px 2px 4px 0px rgba(0,255,255,0.7),
            2px 4px 8px 0px rgba(0,255,255,0.7);
            /* 2px 4px 16px 0px rgba(0,255,255,0.7); */

  position: relative;
}

.proverb-card .proverb-paragraph {
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1.3;
}

.proverb-card .dont-remember  {
  position: absolute;
  bottom: 0;
  margin: 20px;

  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #2c2c2c;
  fill: rgb(92, 106, 106);

  box-shadow: 
  -10px -10px 15px rgba(58, 58, 58, 0.5),
  10px 10px 15px rgba(58, 58, 58, 0.12);


  display: flex;
  justify-content: center;
  align-items: center;
  
}

.proverb-card .dont-remember:hover,
.proverb-card .dont-remember:active {
  cursor: pointer;
  fill: rgb(113, 148, 148);
}


.carousel {
  z-index: 100;
  color: white;
}





/* Animations */
@keyframes flip-in {
  from {
      rotate: y 0deg;
  }
  to {
      rotate: y 90deg;
  }
}

@keyframes flip-out {
  from {
      rotate: y 90deg;
  }
  to {
      rotate: y 0deg;
  }
}

.flip-in {
  animation: flip-in 250ms;
  animation-fill-mode: forwards;
}

.flip-out {
  animation: flip-out 250ms;
  animation-fill-mode: forwards;
}

/* Small screens */
@media screen and (max-width: 760px){
  body {
    padding-top: 5px;
  }
  h1 {
    font-size: 38px;
    letter-spacing: 5px;
  }
  p {
    line-height: normal;
  }

  span {
    display: none;
  }

  .sm-screens {
    display: block;
  }
}